.feature__subtitle {
    color: #df2020;
  }
  
  .feature__title span {
    color: #df2020;
  }
  
  .feature__text {
    font-size: 1.1rem;
    color: #777;
  }
  
  .feature__item p {
    color: #777;
  }